<div class="container">
  <nav>
    <div class="nav-wrapper z-depth-1">
      <ul id="nav-mobile" class="left nav__links">
        <li><a href="#" class="selected weather">Weather</a></li>
        <li><a href="#" class="profile">Profile</a></li>
      </ul>
    </div>
  </nav>
  </nav>
  <div class="row">
      <span> Save Forecast </span><i class="small material-icons star save3dayWeather">star</i>
      <h3> 3-day Forecast for <i class="cityName">{{city.name}}</i> </h3>
  </div>
  <div class="row threeDayWeather">
  {{#each list}}
    <div class="col s4 center-align z-depth-2 weatherBox">
        {{#each weather}}
        <img src="http://openweathermap.org/img/w/{{icon}}.png">
        {{/each}}
        <h4 class="center-align temp"> <strong> {{temp.day}} &deg; </strong> </h4>
        {{#each weather}}
          <p class="weatherDescription"> {{description}} </p>
        {{/each}}
        <p class="windSpeed"> Wind Speed {{speed}} mph </p>
        <p class="airPressure"> Air pressure {{pressure}}</p>
    </div>
  {{/each}}
  </div>
</div>
<div class="row">
  <div class="offset-s3 col s6 center-align">
    <button class="current-weather-btn"> Show Current Forecast </button>
    <button class="7-day-weather-btn"> Show 7-day Forecast </button>
  </div>
</div>