<div class="container">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">YOUR Weather</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Example</a></li>
        <li><a href="#">Example</a></li>
        <li><a href="#">Example</a></li>
      </ul>
    </div>
  </nav>
  <div class="row currentWeather">
    <div class="offset-s3 col s6 center-align">
      <i class="small material-icons right-align star">star</i>
      <h3> Today's Weather in {{city.name}} </h3>
      {{#each list}}
        <h4 class="center-align"> <strong> {{temp.day}} &deg; </strong> </h4>
        {{#each weather}}
          <p> {{description}} </p>
        {{/each}}
        <p> Wind Speed {{speed}} mph </p>
        <p> Air pressure {{pressure}}</p>
      {{/each}}
    </div>
  </div>
</div>
<div class="row">
  <div class="offset-s3 col s6 center-align">
    <button class="3-day-weather-btn"> Show 3-day Forecast </button>
    <button class="7-day-weather-btn"> Show 7-day Forecast </button>
  </div>
</div>

