<div class="container loginScreen">
<h1 class="center-align"> YOUR Weather </h1>
{{#each authOptions}}
<div class="row">
  <div class="col s3 offset-s3">
    <button class="login-auth" id="{{name1}}"> <span class="loginText"> Login in with </span> <img src="{{icon1}}" alt="Login with {{name1}}" class="auth-icon"></button>
  </div>
  <div class="col s3">
    <button class="login-auth" id="{{name2}}"> <span class="loginText"> Login in with </span><img src="{{icon2}}" alt="Login with {{name2}}" class="auth-icon"></button>
  </div>
</div>
{{/each}}
<div class="loginWithEmail offset-s4 col s4 center-align">
  <button class="login-auth" id="emailPassword"> <span class="loginText"> Login in with Email</span></button>
</div>
</div>
